{% extends 'base.html' %}
{% load static %}
{% block content %}

{% csrf_token %}

<div class="lang-list">
  <div class="container choose" id="startlesson">
  <div class="row justify-content-center">
    <div class="col">
      {% comment %}<!-- <a href="{% url 'quiz' title=cat.title%}" type="button" class="btn border ">Quiz</a> --> {% endcomment %}
      <a href="{% url 'video' title=cat.title %}" id="lessonbutton" class="btn border ">Start Lessons</a>
    </div>
  </div>
</div>
</div>


{% endblock %}