{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center; padding-top: 30px; color: #738290;">Reset your password</h1>

<div class="container mt-5 form" style="width: 50%; margin-bottom: 50px; text-align: center;">
    <div class="row justify-content-center mt-5" style="background-color: #A1B5D8; border-radius: 10px; padding: 30px;">
        <div class="col-md-11">
            <p>Someone asked for password reset for email <span id="email">{{ email }}</span>. Follow the link below:.</p>
            <p>{{ protocol }}://{{ domain }}{% url "password_reset_confirm"uidb64=uid token=token %}</p>
            p
        </div>
    </div>
</div>

Your username, in case you've forgotten: {{ user.get_username }}

{% endblock %}