{% extends 'base.html' %}

{% block content %}
<!-- question -> label -->
<!-- choices -> radio buttons -->
<!-- 10 questions -->
<form id="" action="">
    <label for="first">Q1:</label>
    <input type="radio" name="first" id="first1" value="">
    <input type="radio" name="first" id="first2" value="">
    <input type="radio" name="first" id="first3" value="">

    <label for="second">Q2:</label>
    <input type="radio" name="second" id="second1" value="">
    <input type="radio" name="second" id="second2" value="">
    <input type="radio" name="second" id="second3">

    <label for="third">Q3:</label>
    <input type="radio" name="third" id="third1" value="">
    <input type="radio" name="third" id="third2" value="">
    <input type="radio" name="third" id="third3" value="">

    <label for="fourth">Q4</label>
    <input type="radio" name="fourth" id="fourth1" value="">
    <input type="radio" name="fourth" id="fourth2" value="">
    <input type="radio" name="fourth" id="fourth3" value="">

    <label for="fifth">Q5:</label>
    <input type="radio" name="fifth" id="fifth1" value="">
    <input type="radio" name="fifth" id="fifth2" value="">
    <input type="radio" name="fifth" id="fifth3" value="">

    <input type="submit" value="Create Quiz">
</form>

<!-- submit -->
<!-- show resault in the same page  -->
{% endblock  %}